# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
